* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(160, 153, 153), rgb(51, 49, 49));
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 170px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.container > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid black;
    outline: none;
    background-color: white;
}

.container > button:hover {
    background-color: rgb(167, 165, 165);
}

.big-button {
    grid-column: span 2;
}

.screen {
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.screen .prev-value {
    color: white;
    font-size: 1.5rem;
}

.screen .curr-value {
    color: white;
    font-size: 2.5rem;
}

button.op {
    background-color: orange;
}

button.big-button {
    background-color: aliceblue;
}

button.del {
    background-color: aliceblue;
}
